body
    background: $white
    margin-bottom: 20px

input,
textarea,
button
    font: inherit

.spaced-out
    .row
        margin-bottom: 20px

.notes, .chords
    font-size: 1.5em

a:hover
    cursor: pointer
    text-decoration: none
