/* Palette: https://coolors.co/111111-ea526f-fcfcfc-23b5d3-279af1 */
$white = #FFF
$red = #EA526F
$light-blue = #23B5D3
$lighter-blue = #75b7f1
$blue = #279AF1
$black = #111111
$grey = lightness($black, 50%)
$light-grey = lightness($grey, 75%)
$lighter-grey = lightness($grey, 85%)
$nearly-white = lightness($grey, 99%)
