.list-view
    .widget
        a, a:link, a:visited
            background-color: $white;
            display: block;
            padding: 15px;
            margin-bottom: 15px;
            color: $black;
            font-weight: bold;
            border: 1px solid $black;

        a:hover, a:focus
            background-color: $black;
            color: $white;

        a:active
            background-color: $blue;
            color: $white;
