.list-view
    .widget
        a, a:link, a:visited
            background-color: $white
            border: 1px solid $light-grey
            color: $black
            display: block
            font-weight: bold
            margin-bottom: 15px
            padding: 15px

        a:hover, a:focus
            background-color: $black
            border-color: $black
            color: $white

        a:active
            background-color: $blue
            border-color: $black
            color: $white
