<div ng-controller="ModeChartCtrl" class="mode-chart">
    <article>
        <section>
            <form>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Key</label>
                            <select ng-model="selectedKey" ng-change="updateKeyboard()" class="form-control" ng-options="key.root.name for key in keys">
                                <!-- <option ng-repeat="key in keys track by $index" ng-value="$index">{{key.root.name}}</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Mode</label>
                            <select ng-model="selectedMode" ng-change="updateKeyboard()" class="form-control" ng-options="mode.name for mode in modes">
                                <!-- <option ng-repeat="mode in modes track by $index" ng-value="$index">{{mode.name}}</option> -->
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <section ng-show="selectedMode && selectedKey">
            <div class="row">
                <div class="col-xs-12">
                    <visual-block />
                </div>
            </div>
        </section>

        <section ng-show="selectedMode && selectedKey">
            <header>
                <h3>Notes</h3>
            </header>
            <div class="row notes">
                <div ng-repeat="note in notes" class="col-xs-1">
                    <a ng-href="{{note.link}}">{{note.name}}</a>
                </div>
            </div>
        </section>

        <section ng-show="selectedMode && selectedKey" class="chord-list">
            <header>
                <h3>Chords</h3>
            </header>
            <div class="panel panel-default spaced-out" ng-repeat="set in chords">
                <div class="panel-heading">
                  <h4><a ng-href="{{set.note.link}}" ng-bind-html="set.root.name.htmlSafe()"></a></h4>
                </div>
                <table class="table table-striped">
                  <tr ng-repeat="row in set.rows">
                    <td ng-repeat="chord in row track by $index">
                      <a ng-if="chord.link" ng-href="{{chord.link}}" ng-bind-html="chord.formatted.full.htmlSafe()"></a>
                    </td>
                  </tr>
                </table>
            </div>
        </section>

        <video-list />
    </article>
</div>
