.preview-link
    .link
        padding-bottom: 10px

    .preview-window
        display: none
        float: left
        font-size: 1em
        left: 10px
        position: absolute
        text-align: center
        top: 90%
        width: 50px
        z-index: 1

        &.active
            display: block
        &.notes
            width: 200px

        .preview-container
            background-color: $white
            border: 2px solid $blue
            padding: 5px

        .preview-arrow
            color: $blue
            line-height: 0
            text-align: left

            .glyphicon
                line-height: .5
                margin: 0
