<div class="guitar-component">
  <div class="guitar">
    <canvas id="guitar"></canvas>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="tuningSelection">
          Tuning
        </label>
        <select class="form-control" id="tuningSelection" ng-model="tuningSelection" ng-change="tuningSelected()" ng-options="tuning.name for tuning in tunings"></select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <select class="form-control" ng-model="string1" ng-change="updateTuning()" ng-options="note.name for note in selectNotes"></select>
    </div>
    <div class="col-xs-2">
      <select class="form-control" ng-model="string2" ng-change="updateTuning()" ng-options="note.name for note in selectNotes"></select>
    </div>
    <div class="col-xs-2">
      <select class="form-control" ng-model="string3" ng-change="updateTuning()" ng-options="note.name for note in selectNotes"></select>
    </div>
    <div class="col-xs-2">
      <select class="form-control" ng-model="string4" ng-change="updateTuning()" ng-options="note.name for note in selectNotes"></select>
    </div>
    <div class="col-xs-2">
      <select class="form-control" ng-model="string5" ng-change="updateTuning()" ng-options="note.name for note in selectNotes"></select>
    </div>
    <div class="col-xs-2">
      <select class="form-control" ng-model="string6" ng-change="updateTuning()" ng-options="note.name for note in selectNotes"></select>
    </div>
  </div>
</div>
