.visual-block
    .tabs
        a
            background-color: $white
            border-left: 1px solid $blue
            border-right: 1px solid $blue
            border-top: 1px solid $blue
            border-top-left-radius: 3px
            border-top-right-radius: 3px
            color: $blue
            display: block
            font-weight: bold
            padding: 5px
            text-align: center

            &.selected
                background-color: $blue
                color: $white

        a, a:hover, a:active
            text-decoration: none

    .visuals
        border-top: 2px solid $blue
